#listaColor{
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
}

#cajaAdmin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#boxAdmin{
  background-color: none;
}
#inputAdmin{
  width: 250px;
}
@media screen and (min-width: 961px){
  
  #listaItem{
    justify-content: center;
    width: 25%;
  } 
}

@media screen and (max-width: 960px){
  #listaItem{
    justify-content: center;
    width: 33.3%;
  } 
}

@media screen and (max-width: 768px){
  #listaItem{
    justify-content: center;
    width: 50%;
  } 
}

@media screen and (max-width: 500px){
  #listaItem{
    justify-content: center;
    width: 100%;
  } 
}

@media screen and (min-width: 800px) {
  #inputAdmin{
    width: 450px;
  }
}


/* @media screen and (min-width: 375px){
  #cajaAdmin{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
  } 
  #in
  #inputAdmin{
    text-align: center;
    width: 50px;
  }
} */

/* @media screen and (max-width: 539px){
  #cajaAdmin{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  } 
  #inputAdmin{
    text-align: center;
    width: 300px;
  }
}
@media screen and (max-width: 800px){
  #cajaAdmin{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
  } 
  
  #inputAdmin{
    text-align: center;
    width: 400px;
  }
} */
/* @media screen and (min-width: 801px){
  #cajaAdmin{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
  } 
  
  #inputAdmin{
    text-align: center;
    width: 500px;
  }
} */




